{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <strong>{{ customer_complaint.first_name }} {{ customer_complaint.last_name }} {{ customer_complaint.patronymic }}</strong>
    </div>
    <div class="card-body">
        <p class="card-text"><strong>ID: </strong>{{ customer_complaint.id }}</p>
        <p class="card-text"><strong>Дата Создания: </strong>{{ customer_complaint.created_at }}</p>
        <p class="card-text"><strong>Лицевой Счет: </strong>{{ customer_complaint.personal_account }}</p>
        <p class="card-text"><strong>Телефон: </strong>{{ customer_complaint.phone }}</p>
        <p class="card-text"><strong>Жалоба: </strong>{{ customer_complaint.complaint }}</p>
        <p class="card-text"><strong>Ответственный: </strong>{{ customer_complaint.responsible_person }}</p>
        <p class="card-text"><strong>Комментарий Специалиста: </strong>{{ customer_complaint.comment }}</p>
        {% if customer_complaint.status == "in_progress" %}
        <p class="card-text" >
          <strong style="color: #000000;">Статус: </strong>
          <strong style="color: #ffcc00;">На рассмотрении</strong></p>
        {% else %}
        <p class="card-text">
          <strong style="color: #000000;">Статус: </strong>
          <strong style="color: #00cc00;">Завершено</strong></p>
        {% endif %}
    </div>
  </div>
  
  <br/><br/>
  <a href="{% url 'home' %}" class="btn btn-secondary">Назад</a>
  <div style="float:right;">
    <a href="{% url 'update_complaint' customer_complaint.id %}" class="btn btn-warning">Изменить</a>
    <a href="{% url 'delete_complaint' customer_complaint.id %}" class="btn btn-danger">Удалить</a>
  </div>
  
  
{% endblock %}
